*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial;
    background-color: gray;
    padding: 40px 50px;
}
.container{
    border-radius: 8px;
    background-color: white;
    padding: 35px 40px;
    width: 100%;
}
input[type="text"],
input[type="password"]{
    width:100%;
    padding:8px;
    margin-top:5px;
}
.error{
    color:red;
    font-size:14px;
}
.success{
    text-align:center;
    font-size:22px;
    color:green;
}