* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
header {
  position: absolute;
  width: 100%;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#page-logo a {
  font-family: "Oleo Script", cursive;
  font-size: 28px;
  color: rgb(255, 255, 0);
  text-decoration: none;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: rgb(255, 183, 27);
  text-decoration: none;
  font-weight: bold;
}
footer {
  background-color: #111;
  padding: 30px;
  text-align: center;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 40px;
}

footer img {
  width: 40px;
}