body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}
.container {
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #000000;
    background-color: #f9f9f9;
}
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    gap: 10px;
}
.row input{
    flex: 1;
    
}
.row input,
.row textarea {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
}
textarea{
    height: 100px;
    
}
.row-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #5ec1eb;
    color: white;
    cursor: pointer;
}
p {
    font-size: 12px;
    color: #777;
}